<div (click)="onClick()"
    class="bg-white cursor-pointer drop-shadow rounded-md flex flex-col items-center border hover:border-primary max-w-xs hover:drop-shadow-md">
    <img class="h-40" src="{{pokemon?.imageUrl}}" />
    <div class="flex items-center px-1 w-full place-content-between bg-primary rounded-b-md">
        <p class="text-white truncate font-bot text-lg p-2">{{pokemon?.name}}</p>
        <app-collection-update-button [pokemon]="pokemon"></app-collection-update-button>
    </div>
</div>