<div class="flex flex-row h-full">
    <div
        class="bg-gradient-to-t from-primary to-secondary fixed flex flex-col justify-between h-screen rounded-tr-full rounded-br-full">

        <div class="mt-14 pl-2 pr-4">
            <svg class="w-12 h-12 p-1 border-4 border-white rounded-full" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="white">
                <path fill-rule="evenodd"
                    d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
                    clip-rule="evenodd" />
            </svg>
        </div>

        <div class="mb-14 pl-2 pr-4">
            <svg class="w-12 h-12 p-1 border-4 border-white rounded-full" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="white">
                <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"
                    clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="ml-16">
        <ng-content></ng-content>
    </div>
</div>