<div class="flex place-content-center items-center mt-6">

    <button (click)="onPreviousClick()" class="bg-primary mx-5 rounded-full w-5 h-5"></button>
    <ul class="flex flex-wrap flex-row space-x-3">
        <button (click)="goToPage(page)" *ngFor="let page of pages">
            <p class="font-bot text-2xl cursor-pointer text-subtitle"
                [ngClass]="{'border-b-2 border-black text-black': page === currentPage}">
                {{page}}</p>
        </button>
    </ul>
    <button (click)="onNextClick()" class="bg-primary mx-5 rounded-full w-5 h-5"></button>

</div>