<section class="h-screen">
  <div class="flex flex-row items-center flex-wrap h-full">
    <!-- START POKEDEX -->
    <div
      class="w-5/12 flex flex-col columns-3 items-center bg-gradient-to-t from-primary to-secondary h-screen shadow rounded-tr-[80px] rounded-br-[80px]">

      <div class="h-4/6 flex justify-center items-center p-28 mt-10">
        <img class="h-full w-full object-fit" src="assets/pokeball.png" alt="Pokeball" />
      </div>

      <div class="h-2/6 w-full h-full">
        <p class="text-white text-8xl pl-20 font-int font-extralight">Pokedex</p>
        <p class="text-white text-4xl pl-28 font-bot font-normal mt-8">Catch 'em all!</p>
      </div>

    </div>
    <!-- END POKEDEX-->
    <!-- START LOGINFORM-->
    <div class="w-7/12 flex flex-col justify-center items-center">

      <div class="mb-6">
        <p class="font-int text-5xl font-extralight">Welcome!</p>
      </div>

      <div class="mb-20">
        <p class="font-bot text-2xl font-light text-slate-400">Enter your username below to get started!</p>
      </div>

      <app-login-form (login)="handleLogin()"></app-login-form>
    </div>
    <!-- END LOGINFORM-->
  </div>
</section>