<div class="flex flex-col h-full w-full justify-center items-center">
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">

    <!-- Username input -->
    <div class="mb-6">
      <input ngModel required #username="ngModel" type="text" name="username" id="username"
        class="form-control block w-full px-4 py-2 text-2xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-600 shadow-md rounded-lg transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-primary focus:outline-none"
        placeholder="Enter your name" />
    </div>

    <!-- Submit button -->
    <div class="flex flex-col h-full w-full justify-center items-center">
      <button type="submit" [disabled]="loginForm.form.invalid"
        class="w-1/2 px-8 py-3 mt-10 bg-primary text-white font-medium text-md leading-snug rounded-xl shadow-md hover:bg-orange-600 hover:shadow-xl focus:shadow-xl focus:outline-none focus:ring-0 focus:bg-orange-600 disabled:opacity-30 transition duration-150 ease-in-out"
        data-mdb-ripple="true" data-mdb-ripple-color="light">
        Login
      </button>
    </div>
  </form>
</div>